* {
    margin: 0;
    padding: 0;
}

/* #indexBody {
    height: 100%;
    width: 100%;
} */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    color: rgb(107, 209, 170);
    font-weight: bold;
    font-size: 30px;
    font-family: cursive;
}

#leftButton {
    cursor: pointer;
}

#rightButtons {
    display: flex;
    gap: 10px;
    color: black;
    font-weight: lighter;
    font-size: 20px;
    cursor: pointer;
}

#slogans{
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}

#sloganText1 {
    font-size: 40px;
}
#sloganText2 {
    font-size: 25px;
    font-weight: lighter;
}

#container {
    display: flex;
    flex-direction: column;
    background-image: url('./images/background.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: auto;
} 

#cart {
    width: 100%;
    height: 100vh;
    z-index:0;
    position:absolute;
    background-color: #b4b1b1;
}

#departureArrivalDateSearchContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 450px;
    margin-left: 450px;
    /* margin-left: 550px; */
    padding: 20px;
    border-radius: 15px;
    font-family: cursive;
    
}

#departureInput {
    margin-top: 20px;
    border-radius: 4px;
    width: 100%;
    height: 400px;
    font-size: 20px;
    color:grey;
    background-color: rgb(241, 234, 234) ;
    font-family: cursive;
    
}

#arrivalInput{
    margin-top: 1px;
    border-radius: 4px;
    width: 100%;
    height: 400px;
    font-size: 20px;
    color:grey;
    background-color: rgb(241, 234, 234) ;
    font-family: cursive;
}

#dateInput {
    margin-top: 30px;
    border-radius: 4px;
    width: 100%;
    height: 400px;
    font-size: 20px;
    color:grey;
    background-color: rgb(241, 234, 234) ;
    cursor: pointer;
    font-family: cursive;
}

#searchButton {
    border-radius: 4px;
    width: 100%;
    height: 400px;
    font-size: 20px;
    color: white;
    margin-top: 250px;
    background-color: rgb(107, 209, 170);
    cursor: pointer;
    font-family: cursive;
}

#deuxiemeMessage, #troisiemeMessage {
    display: none;
    flex-direction: column;
    justify-content: baseline;
    background-color: white;
    width: 400px;
    height: 450px;
    margin-right: 450px;
    padding: 20px;
    border-radius: 6px;
    font-size: 20px;
    font-family: cursive;
    overflow: auto;
}

#troisiemeMessage::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#troisiemeMessage::-webkit-scrollbar-track {
    background: #ffffff;   /* Couleur de fond de la piste */
    border-radius: 12px;    /* Coins arrondis */
    border: 1px solid #ccc; /* Bordure autour de la piste */
}

#troisiemeMessage::-webkit-scrollbar-thumb {
    background: #b4b1b1;        /* Couleur de la poignée */
    border-radius: 10px;     /* Coins arrondis */
    border: 3px solid #555;  /* Bordure autour de la poignée */
    box-shadow: 0 0 1px #f3f1f14d; /*Ombre autour de la poignée*/
    opacity: 0.7;            /* Opacité de la poignée */
}

#premierMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 450px;
    margin-right: 450px;
    /* margin-right: 550px; */
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    font-family: cursive;
}

#resultatsObtenus {
    min-height: 3em;
    max-width: 105%;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5eeee;
    border-radius: 6px;
    font-size:0.7em;
    /* box-sizing: border-box; */
    font-family: cursive;
}

.book {
    border-radius:6px;
    background-color: rgb(107, 209, 170);
    color: white;
    height: 70%;
}

#resultatsObtenus p {
    padding : 0em 0.5em 0em 0.5em;
    margin : 0em 1em;
    display:flex;
    align-items: center;
}
#resultatsObtenus p:first-child {
    text-wrap: nowrap;
}

#bookButton {
    border-radius: 5px;
    width: 40px;
    height: 35px;
    color: white;
    background-color: rgb(107, 209, 170);
    font-family: cursive;
    
}

/* #deuxiemeMessage {
    opacity: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 450px;
    margin-right: 550px;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
} */

/* div qui enveloppe les 2 blocs */
/* #divSupp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

#divQuiEnveloppeTout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    
}


/* page CART */
#cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 500px;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 15px;
}

#cartBody {
    background-color: rgb(230, 238, 226);
}

#cartMessage1 {
    margin: 4px;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
}
#cartMessage2 {
    margin: 4px;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
}

#cartContainer {
    height: 150px;
}





/* page BOOKINGS */
#bookingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 500px;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;

}

#bookingsBody {
    background-color: rgb(230, 238, 226);
}

#bookingsMessage1 {
    margin: 4px;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
}
#bookingsMessage2 {
    margin: 4px;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
}

#bookingsContainer {
    height: 150px;
}
